Flask==
psycopg2==
python-dotenv==
ibm-watson==
ibm-cloud-sdk-core==
watson-developer-cloud==
Flask-WTF==
prettyTable==
jinja2==
coverage==
codecov==
os.path2==
flask-sockets==
pafy==
watson-streaming==0.0.13
mockito==
Flask-Bcrypt==
Flask-Login==
Flask-Migrate==
Flask-SQLAlchemy==
Flask-Script==
Flask-Testing==
SQLAlchemy==
Mako==
MarkupSafe==
alembic==
gunicorn==
itsdangerous==
sqlite3-api==
urllib3==
setuptools~=
Werkzeug~=
gevent~=
WTForms~=
ibm-watson-machine-learning==
youtube_dl==2021.4.1
youtube-transcript-api==0.4.1
vtt2text==
requests_html==
bs4==
